@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


/* section 1 styles */
.section-1 {
    font-family: Roboto;
    width: 1600px;
    position: relative;
    background-image: url(/assets/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 788px;
}

header {
    width: 1600px;
    display: flex;
}

.navigation-bar {
    top: 15px;
    position: relative;
    justify-content: center;
    width: 100%;
}

.navigation-bar ul{
    width: 519px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
}

.navigation-bar ul li a:hover {
    color: rgb(236, 168, 185);
}

.active::after {
    content: '';
    width: 40px; 
    height: 3px;
    display: block;
    background-color: #fff;
}

.container-heading {
    height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: white;
    margin-top: 200px;
}

.paragraph-1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    font-family: Robot;
}

.get-started-btn {
    font-family: Roboto;
    width: 184px;
    height: 46px;
    background: #00AFDB;
    overflow: hidden;
    cursor: pointer;
    border: 0.1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 38px;
}

.get-started-btn:hover {
    background: #6cc2da;
}

.subscribe-btns {
    width: 170px;
    display: flex;
    margin-top: 180px;
    position: relative;
    margin-right: 50px;
}

.subscribe-btns span {
    font-family: Roboto;
    position: absolute;
    color: white;
    left: 87px;
    top: 1px;
    font-weight: 700;
    font-size: 15px;
}

.subscribe-btns img {
    margin-left: 30px;
    cursor: pointer;
}

.subscribe-btns img:hover {
    background: rgb(123, 139, 192);
}

.subscribe-btns .youtube {
    position: absolute;
    right: -25.5px;
    top: 5.5px;
}
/* end of section 1 styles */


/* start section two styles */

.section-2 {
    width: 1600px;
    height: 842px;
    font-family: Roboto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background:#FFFFFF;
}

.reppresent-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reppresent-heading {
    width: 380px;
    height: 57px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

.reppresent-paragraph {
    width: 407px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    margin-top: 20px;
}

.reppresent-img-container {
    width: 407px;
    height: 582px;
}
/*end of section 2 styles */

/* start of section 3 */

.section-3 {
    font-family: Roboto;
    width: 1600px;
    height: 504px;
    background: #F5F6F7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.our-community {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-community img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

.community-heading {
    margin-bottom: 15px;
    width: 180px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

.community-paragraph {
    width: 298px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;

}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.arrows {
    margin-bottom: 30px;
    margin-right: -250px;
}

.arrows span {
    color: #373737;
    margin-left: 5px;
}

.arrows .arrow {
    margin-left: 10px;
    cursor: pointer;
}

.arrows .arrow:hover {
    background: rgb(158, 151, 151);
}

.images img {
    width: 407px;
    height: 244px;
    margin-left: 30px;
}

.right-img {
    margin-right: -430px;
}

/* end of section 3 */

